*{
margin: 0;
box-sizing: border-box;
font-family: sans-serif;
}

body{
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;

}


.wrapper{
          width: 770px;
          padding: 35px;
          background-color: white;
          border-radius: 10px;
}
.wrapper.shake{
  display: inline-block;
  animation: shake 0.5s ease-in-out infinite;
}

@keyframes shake {
  0% { transform: translate(0, 0); }
  25% { transform: translate(-5px, 0); }
  50% { transform: translate(5px, 0); }
  75% { transform: translate(-5px, 0); }
  100% { transform: translate(0, 0); }
}

.wrapper .content-box{
padding: 13px 20px 0;
border-radius: 10px;
border: 1px solid #ccc;
}
.wrapper .input-field{
  z-index: -999;
  opacity: 0;
  position: absolute;
}
.typing-text p {
        
          font-size: 21px;
         text-wrap:pretty;
          color: #a6a6a6;
          text-align: justify;
          line-height: 1.4;
          
          
}
.typing-text p span{
          position: relative;
}


.typing-text p span.active::before{
          content: "";
          position: absolute;
          background: rgb(117, 117, 117);
          left: 0px;
          bottom: 0;
          opacity: 0;
          height: 20px;
          width: 2px;
          animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

.typing-text p span.correct{
          color: rgb(20, 183, 20);
}
.typing-text p span.incorrect{
          color: rgb(183, 20, 20);
          background-color: rgb(253, 174, 174);
          border-radius: 2px;
          padding: 0.5;
}

.content-box .content{
          display: flex;
          justify-content: space-between;
          border-top: 1px solid #ccc;
          padding: 12px 0;
           margin-top: 17px;

}
.content .result-details{
display: flex;
justify-content: space-between;
width: calc(100% - 140px);
}
.result-details li{
          display: flex;
          list-style: none;
}

.result-details li p {
          font-size: 19px;
}

.result-details li span {
          display: block;
          font-size: 20px;
          margin-left: 10px;
}